<app-main-layout>
    <section class="order-confirm-wrapper">

        <div class="order-steps-wrapper">
            <div class="active-step order-step">Shipping</div>
            <div class="active-step order-step">Confirm Order</div>
            <div class="order-step">Payment</div>
        </div>

        <div class="order-confirm-content">
            <div class="order-confirm-info-wrapper">
                <div class="shipping-data">
                    <h2 class="shipping-title">
                        Shipping Info
                    </h2>
                    <p>
                        <span>Name: </span> {{fullName}}
                    </p>
                    <p>
                        <span>Phone: </span> {{phone}}
                    </p>
                    <p>
                        <span>Address: </span> {{address}}
                    </p>
                </div>
                <h2 class="cart-items-title">Your Cart Items:</h2>
                <ul>
                    <li *ngFor="let product of products">
                        <div class="selected-product">
                            <img class="product-image" [src]="product?.image" [alt]="product?.title" />

                            <a class="product-title" [routerLink]="['/product/', product?._id]">
                                {{product?.title}}
                            </a>

                            <div class="product-price">
                                {{product?.count}} x ${{product?.price.toFixed(2)}} = ${{calcTotal(product?.count,product?.price)}}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="order-confirm-summary-wrapper">
                <h3 class="order-summary-title">Order Summary</h3>

                <div class="order-summary-info">
                    <div class="order-summary-info-item">
                        <span class="info-item-title">Subtotal:</span>
                        <span class="info-item-info">
                            $ {{subtotalPrice().toFixed(2)}}
                        </span>
                    </div>

                    <div class="order-summary-info-item">
                        <span class="info-item-title">Shipping:</span>
                        <span class="info-item-info">$ 0</span>
                    </div>

                    <div class="order-summary-info-item">
                        <span class="info-item-title">Tax:</span>
                        <span class="info-item-info">
                            $ {{tax.toFixed(2)}}
                        </span>
                    </div>
                </div>

                <div class="order-summary-info">
                    <div class="order-summary-info-item">
                        <span class="info-item-title">Total:</span>
                        <span class="info-item-info">
                            $ {{totalPrice().toFixed(2)}}
                        </span>
                    </div>
                </div>

                <div class="order-summary-buttons">
                    <button class="check-out-btn" (click)="handleProceedToPayment()">Proceed to Payment</button>
                </div>
            </div>

        </div>
    </section>
</app-main-layout>