<app-main-layout>
    <main class="main-wrapper">
        <aside class="filter-box">
            <div class="slider-wrapper">
                <p>Price Range:</p>
                <p class="price-range"><span>$0.00</span> - <span>$0.00</span></p>

                <input type="range" min="0" max="1000" value="2000" class="slider" />
            </div>

            <div class="category-filter-wrapper">
                <p>Category:</p>
    
                <label class="category-option">All Categories
                    <input type="radio" name="radio" value="" />
                    <span class="checkmark"></span>
                </label>
            </div>
        </aside>
        <section class="products-wrapper">
            <app-title-separator>
                Products
            </app-title-separator>
            <ul>
                <li *ngFor="let item of products">
                    <div class="product-item" [attr.data-id]="item._id">
                        <div class="product-container">
                            <a [routerLink]="['/product/', item._id]">
                                <img class="product-image" [src]="item.image" [alt]="item.title"/>
                            </a>
                        </div>
                        <div class="product-detail">
                            <a class="product-title" [routerLink]="['/product/', item._id]">
                                {{item.title}}
                            </a>
                            <div class="product-price">{{item.price}}</div>
                            <button class="add-to-cart-btn" (click)="handleAddToCart(item)">Add To Cart</button>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </main>
</app-main-layout>