<app-main-layout>
    <section class="contact-us-wrapper">
        <h1>Contact Us</h1>

        <div class="contact-us-content">
            <div class="contact-info">
                <div class="contact-info-wrapper">
                    <div class="info-container">
                        <h2>Address</h2>
                        <p>str. Oborishte 16, Sofia, Bulgaria</p>
                    </div>

                    <div class="info-container">
                        <h2>Email</h2>
                        <p>support@grizzlysavage.com</p>
                    </div>

                    <div class="info-container">
                        <h2>Phone</h2>
                        <p>+359 88 624 5341</p>
                    </div>

                    <div class="info-container">
                        <h2>Timing</h2>
                        <p>available at 10am-8pm</p>
                    </div>
                </div>
            </div>

            <form>
                <label for="firstName" >Name</label>
                <input
                    id="firstName"
                    name="firstName"
                    type="text"
                    placeholder="John"
                />

                <label for="email">Your Email</label>
                <input
                    id="email"
                    name="email"
                    type="email"
                    placeholder="john@domain.com"
                />

                <label for="phoneNumber">Phone</label>
                <input
                    id="phoneNumber"
                    name="phoneNumber"
                    type="text"
                />

                <label for="messageBody">Message</label>
                <textarea
                    id="messageBody"
                    name="messageBody"
                    placeholder="Message"
                > </textarea>

                <button type="button">Send</button>
            </form>
        </div>
    </section>
</app-main-layout>