<app-main-layout>
    <section class="order-shipping-wrapper">
        <!-- <OrderSteps steps={["shipping"]}/> -->
        
        <div class="shipping-form">
            <h1>Shipping Info</h1>
            <form >
                <!-- <form (sumbit)="submitForm"> -->
                <label for="address">Address</label>
                <input id="address" type="text" name="address" change="setStateForm" placeholder="1234 Wolf Street"/>
                <label for="city">City</label>
                <input id="city" type="text" name="city" change="setStateForm" placeholder="New York"/>
                <label for="phoneNumber">Phone</label>
                <input id="phoneNumber" type="text" name="phoneNumber" change="setStateForm" placeholder="088 333 4444"/>
                <label for="postalCode">Postal Code</label>
                <input id="postalCode" type="text" name="postalCode" change="setStateForm" placeholder="12345"/>
                <label for="country">Country</label>
                <select id="country" name="country" change="setStateForm">
                    <option label="Select a country" value="0">Select a country ... </option>

                <!-- {
                    countriesState 
                    ? countriesState.map((country, index) => (
                            <option
                                key={index}
                                value={country.name}
                                label={country.name}>
                                    {country.name}
                            </option>
                            )
                        )
                    :   (
                            <option
                                value="Loading..."
                                label="Loading...">
                                    Loading...
                            </option>
                        )
                } -->
                </select>
                <button class="continue-btn">Continue</button>
            </form>
        </div>
    </section>
</app-main-layout>