.footer-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 50px;
    background-color: #234465;
    text-align: center;
    color: white;
    font-weight: 500;
}