<app-main-layout>
    <section class="user-orders-wrapper">
        <h1 class="user-orders-title">My Orders</h1>

        <table class="orders-list">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Num of Items</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- {
                isLoading || !user
                    ?   
                        <tr>
                            <td>
                                <div class="loader">
                                    <Spinner animation="border" variant="warning" />
                                </div>
                            </td>
                            
                        </tr>
                    : user.orders
                        .map((order) =>
                            (
                                <tr key={order._id}>
                                    <td width="40%">{order._id}</td>
                                    <td width="30%">{order.qtty}</td>
                                    <td width="10%">{`$${(order.totalPrice + order.tax).toFixed(2)}`}</td>
                                    <td width="10%" 
                                    class={order.status === 'Processing' ? 'proc-status' : 'dev-status'}
                                    >{order.status}</td>
                                    <td width="10%">
                                        <ViewButton orderId={order._id}/>
                                    </td>
                                </tr>
                            )
                        )
                } -->
                
            </tbody>
            <tfoot>
                <tr>
                    <th>Order ID</th>
                    <th>Num of Items</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </section>
</app-main-layout>
