<app-main-layout>
    <section class="user-orders-wrapper">
        <h1 class="user-orders-title">My Orders</h1>

        <table class="orders-list">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Num of Items</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let order of myOrders">
                    <td width="40%">{{order._id}}</td>
                    <td width="30%">{{order.qtty}}</td>
                    <td width="10%">${{(calc(order.totalPrice,order.tax)).toFixed(2)}}</td>
                    <td width="10%" [ngClass]="[order.status === 'Processing' ? 'proc-status' : 'dev-status']">
                        {{order.status}}</td>
                    <td width="10%">
                        <a [routerLink]="['/order/details/', order._id]">See more</a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th>Order ID</th>
                    <th>Num of Items</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
        </table>
    </section>
</app-main-layout>