<app-main-layout>
    <section class="faq-wrapper">
        <h1>F.A.Q.</h1>
        <div class="faq-content">
            <ngb-accordion [closeOthers]="true" activeIds="static-1">
                <ngb-panel id="static-1" title="Is my personal information kept private?">
                    <ng-template ngbPanelContent>
                        At Grizzly Savage, we respect your privacy and will never sell, trade or loan your information
                        to any other organization.
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-2" title="Where is Grizzly Savage located?">
                    <ng-template ngbPanelContent>
                        Our office and flagship store is located in Sofia, Bulgaria
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-3" title="Do I have to set up an account to place an order?">
                    <ng-template ngbPanelContent>
                        Yes, we require that you create an account, because creating an account can help with a quicker
                        checkout in the future as well as offer other perks like free shipping on certain orders and
                        exclusive sales.
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-4" title="Can you ship internationally?">
                    <ng-template ngbPanelContent>
                        We ship our gear around the world via DHL Express Worldwide. Delivery time and cost are
                        dependent on order size and destination.
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </section>
</app-main-layout>