.faq-wrapper {
    width: 100%;
    max-width: 1440px;
    margin-top: 70px;
    display: flex;
    flex-flow: wrap column;
    align-items: center;

    h1 {
        color: #234465;
        margin-bottom: 50px;
    }

    .faq-content {
        width: 100%;
        max-width: 1000px;
        margin: 0 50px;

    }
}
::ng-deep  .card-header {
    background-color: orange;

    button {
        background-color: transparent;
        border: none;
        outline: none;
        color: white;
        font-weight: 500;
    }
}

::ng-deep  .card-body {
    color: #234465;
}

::ng-deep .btn.btn-link {
    text-decoration: none;
    &:hover {
        color:white;
    }
    &:focus {
        box-shadow: none;
    }
}
