<app-main-layout>
    <section class="profile-page-wrapper">
        <h1>My Profile</h1>

        <div class="profile-content">
            
            <div class="profile-image-wrapper">
                <!-- <img src={user.user.profileImage} alt=""/> -->
                <img src="" alt=""/>
            </div>
            <div class="profile-info-wrapper">
                <div class="info-container">
                    <h2>Full Name</h2>
                    <p><!--{user.user.firstName} {user.user.lastName}--></p>
                </div>

                <div class="info-container">
                    <h2>Email Address</h2>
                    <p><!--{user.user.email}--></p>
                </div>

                <div class="info-container">
                    <h2>Joined On</h2>
                    <p><!--{user.user.date.split('T')[0]}--></p>
                </div>

                <a routerLink="/my-orders">My Orders</a>
            </div>
                        
        </div>
    </section>
</app-main-layout>
