.profile-page-wrapper {
    width: 100%;
    max-width: 1440px;
    margin-top: 70px;
    display: flex;
    flex-flow: wrap column;
    align-items: center;

    h1 {
        color: #234465;
    }

    .profile-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
        width: 100%;

        .loader {
            margin-top: 150px;
        }

        .profile-image-wrapper {
            img {
                width: 300px;
                border-radius: 50%;
                box-shadow: 0px 0px 2px 2px orange;
                transition: all 0.2s ease-in-out;
            }
        }
        
        .profile-info-wrapper {
            width: 300px;
        
            .info-container {
                height: 100px;
        
                h2 {
                    color: gray;
                    font-size: 24px;
                }
        
                p {
                    font-weight: 500;
                }
            }
        
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 30px;
                color: white;
                font-weight: 500;
                text-decoration: none;
                border-radius: 5px;
                background-color: #D6313E;
                opacity: 1;
                transition: all 0.2s ease-in-out;
        
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }

}