<app-dashboard-layout>
    <section class="dashboard-add-product-wrapper">
        <h1>Add Product</h1>

        <div class="add-product-content">
            <form
                (submit)="onSubmitAddProduct($event, title.value,image.value,price.value,category.value,brand.value,model.value,description.value,qtty.value)">

                <label for="title">Title</label>

                <input #title id="title" name="title" type="text" />

                <label for="imageUrl">Image URL</label>

                <input #image id="imageUrl" name="image" type="text" />

                <label for="price">Price</label>
                <input #price id="price" name="price" type="text" />

                <label for="category">Category</label>
                <select id="category" name="category" #category>
                    <option label="Select Category" value="0">Select Category </option>
                    <option *ngFor="let category of categories" [attr.label]="category?.name" [value]="category?._id">
                        {{category?.name}} </option>
                </select>

                <label for="brand">Brand</label>
                <select id="brand" name="brand" change="handleChange" #brand>
                    <option label="Select Brand" value="0">Select Brand </option>
                    <option *ngFor="let brand of brands" [attr.label]="brand?.name" [value]="brand?._id">
                        {{brand?.name}} </option>

                </select>

                <label for="model">Model</label>
                <input #model id="model" type="text" name="model" />

                <label for="description">Description</label>
                <textarea #description id="description" name="description"> </textarea>

                <label for="qtty">Stock</label>
                <input #qtty id="qtty" type="text" name="qtty" />

                <!-- { -->
                <button>Add
                    <!-- {isLoading
                        ?   
                            <div class="loader">
                                <Spinner animation="border" variant="warning" />
                            </div>
                        : 
                            'Add'
                    } -->
                </button>
                <!-- } -->
            </form>
        </div>
    </section>
</app-dashboard-layout>