<app-dashboard-layout>
    <section class="dashboard-add-product-wrapper">
        <h1>Add Product</h1>

        <div class="add-product-content">
            <form submit="">
                <label for="title">Title</label>

                <input
                    id="title"
                    name="title"
                    type="text"
                />

                <label for="imageUrl">Image URL</label>

                <input
                    id="imageUrl"
                    name="image"
                    type="text"
                />

                <label for="price">Price</label>
                <input
                    id="price"
                    name="price"
                    type="text"
                />

                <label for="category">Category</label>
                <select id="category" name="category">
                    <option label="Select Category" value="0">Select Category </option>

                    <!-- {
                        categoryState 
                        ? categoryState.map((category, index) => (
                                <option
                                    key={index}
                                    value={category._id}
                                    label={category.name}>
                                        {category.name}
                                </option>
                                )
                            )
                        :   (
                                <option
                                    value="Loading..."
                                    label="Loading...">
                                        Loading...
                                </option>
                            )
                    } -->
                </select>

                <label for="brand">Brand</label>
                <select id="brand" name="brand" onChange={handleChange}>
                    <option label="Select Brand" value="0">Select Brand </option>

                    <!-- {
                        brandState 
                        ? brandState.map((brand, index) => (
                                <option
                                    key={index}
                                    value={brand._id}
                                    label={brand.name}>
                                        {brand.name}
                                </option>
                                )
                            )
                        :   (
                                <option
                                    value="Loading..."
                                    label="Loading...">
                                        Loading...
                                </option>
                            )
                    } -->
                </select>

                <label for="model">Model</label>
                <input
                    id="model"
                    type="text"
                    name="model"
                />

                <label for="description">Description</label>
                <textarea
                    id="description"
                    name="description"
                > </textarea>

                <label for="qtty">Stock</label>
                <input
                    id="qtty"
                    type="text"
                    name="qtty"
                />

            <!-- { -->
                <button>Add
                    <!-- {isLoading
                        ?   
                            <div class="loader">
                                <Spinner animation="border" variant="warning" />
                            </div>
                        : 
                            'Add'
                    } -->
                </button>
            <!-- } -->
            </form>
        </div>
    </section>
</app-dashboard-layout>
