<app-main-layout>
    <div class="sign-up">
        <div class="sign-up-content">
            <h1>Register</h1>
            <form (submit)="signup($event,firstName.value, lastName.value, email.value, password.value)">
                <label for="firstName" [attr.data-err]="!errors.firstName ? '' : errors.firstName" >
                    First Name
                </label>
                <input id="firstName" name="firstName" type="text" placeholder="John" #firstName/>
                <label for="lastName" [attr.data-err]="!errors.lastName ? '' : errors.lastName" >Last Name</label>
                <input id="lastName" name="lastName" type="text"  placeholder="Wilson" #lastName />
                <label for="email" [attr.data-err]="!errors.email ? '' : errors.email" >Email</label>
                <input id="email" name="email" type="email" change="handleChange" blur="handleValidation"
                    placeholder="john@domain.com" #email />
                <label for="password" [attr.data-err]="!errors.password ? '' : errors.password" >Password</label>
                <input id="password" name="password" type="password" #password />
                <button>Register</button>
            </form>
            <div class="new-customer">
                Already a customer?
                <a routerLink="/sign-in">Login</a>
            </div>

        </div>
    </div>
</app-main-layout>