<app-main-layout>
    <div class="sign-up">
        <div class="sign-up-content">
            <h1>Register</h1>
            <!-- <form onSubmit={signUpErr ? '' : submitForm}> -->
            <form>
                <!-- <label for="firstName" data-err={!errState.firstNameErr ? '' : errState.firstNameErr}>-->
                <label for="firstName" >
                    First Name
                </label>

                <!-- <input id="firstName" name="firstName" type="text" onChange={handleChange} onBlur={handleValidation} placeholder="John" /> -->
                <input id="firstName" name="firstName" type="text" placeholder="John" />

                <!-- <label for="lastName" data-err={!errState.lastNameErr ? '' : errState.lastNameErr}>Last Name</label> -->
                <label for="lastName">Last Name</label>

                <!-- <input id="lastName" name="lastName" type="text" onChange={handleChange} onBlur={handleValidation} placeholder="Wilson" /> -->
                <input id="lastName" name="lastName" type="text" 
                    placeholder="Wilson" />
                <!-- <label for="email" data-err={!errState.emailErr ? '' : errState.emailErr}>Email</label> -->
                <label for="email" >Email</label>
                <input id="email" name="email" type="email" onChange={handleChange} onBlur={handleValidation}
                    placeholder="john@domain.com" />
                <!-- <label for="password" data-err={!errState.passwordErr ? '' : errState.passwordErr}>Password</label> -->
                <label for="password" >Password</label>
                <!-- <input id="password" name="password" onChange={handleChange} onBlur={handleValidation} -->
                <input id="password" name="password" type="password" />
                <!-- <label for="profileImage" data-err={!errState.profileImageErr ? '' :
                    errState.profileImageErr} -->
                <label for="profileImage" >Profile Image</label>
                <!-- <input id="profileImage" type="file" name="profileImage" onBlur={handleValidation} -->
                <input id="profileImage" type="file" name="profileImage"  />

                <button>Register</button>
                <!-- {signUpErr
                ? <button class="dis-btn" disabled>Register</button>
                : <button>
                    {isLoading
                    ?
                    <div class="loader">
                        <Spinner animation="border" variant="warning" />
                    </div>
                    :
                    'Register'
                    }
                </button>
                } -->
            </form>
            <div class="new-customer">
                Already a customer?
                <a routerLink="/sign-in">Login</a>
            </div>

        </div>
    </div>
</app-main-layout>