.cart-link {
    position: relative;
    height: 45px;
    display: flex;
    align-items: center;

    .cart-icon-wrapper {
        font-size: 24px;
        cursor: pointer;
        padding: 10px;

        svg {
            width: 25px;
            height: 28px;
            fill: white;
            transition: all 0.2s ease-in-out;

            &:hover {
                fill: orange;
            }
        }
    }

    &::after {
        position: absolute;
        content: attr(data-added-items);
        width: 15px;
        height: 16px;
        background-color: #d4333b;
        text-align: center;
        right: 0;
        border-radius: 3px;
        font-size: 12px;
        color: white;
        top: 3px;
    }
}
