<app-main-layout>
    <section class="about-us-wrapper">
        <h1>About Us</h1>

        <div class="about-us-content">
            <div class="about-us-image-wrapper">
                <img src="../../assets/about-us-img.png" alt="" />
            </div>

            <div class="about-us-info-wrapper">
                <h2>Grizzly Savage</h2>
                <p>Grizzly Savage is eCommerce website / brand where you can find the best hiking/camping equipment.
                    (SoftUni React project) The users can can search products by name, product id and filter by category
                    and brand. If the user is logged in, he can place orders and view them and their details. There is
                    also profile page where he can edit some of his account information.</p>
            </div>
        </div>
    </section>
</app-main-layout>